
.form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    background-color: rgb(240, 188, 240);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif, color var(--bg-dark)
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(156, 166, 226);
    color: var(--text-main);
    justify-content: center;
    align-items: center;
    height: 100vh;
}


:root {
    --bg-dark: #08070b;
    --container-bg: #24232c;
    --neon-green: #a4ffaf;
    --text-main: #1d1831;
    --text-muted: #817d92;
}


.container { width: 400px; }

h1 { color: var(--text-muted); text-align: center; font-size: 1.2rem; margin-bottom: 1.5rem; }

.display-container {
    background: var(--container-bg);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#passwordDisplay {
    background: transparent;
    border: none;
    color: var(--text-main);
    font-size: 1.8rem;
    width: 80%;
    outline: none;
}

#copyBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--neon-green);
}

/* ESTILOS DEL MEDIDOR DE FUERZA */
.strength-meter {
    background: #18171f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin: 1.5rem 0;
}

.label { color: var(--text-muted); font-weight: bold; }

.strength-status { display: flex; align-items: center; gap: 15px; }

#strengthText { font-size: 1.3rem; font-weight: bold; }

.bars { display: flex; gap: 6px; }

.bar { width: 10px; height: 28px; border: 2px solid var(--text-main); transition: 0.3s; }

#generateBtn {
    width: 100%;
    padding: 1.2rem;
    background: var(--neon-green);
    border: 2px solid var(--neon-green);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#generateBtn:hover { background: transparent; color: var(--neon-green); }
